
$sidebar-bg-color: rgb(168,138,73) !default;
$sidebar-color: #ffffff !default;
$sidebar-width: 320px !default;
$sidebar-collapsed-width: 48px !default;
$highlight-color: #ffffff !default;
$submenu-bg-color: rgb(51, 51, 51) !default;
$submenu-bg-color-collapsed: rgb(51, 51, 51) !default;
$icon-bg-color: rgb(51, 51, 51) !default;
$icon-size: 36px !default;
$submenu-indent: 0px !default;
// $breakpoint-xs: 480px !default;
// $breakpoint-sm: 576px !default;
// $breakpoint-md: 768px !default;
// $breakpoint-lg: 992px !default;
// $breakpoint-xl: 1200px !default;
// $breakpoint-xxl: 1600px !default;

@import './styles.scss';